@import url('../fonts/Open-Sans/opensans.css');
@import url('../fonts/Inter/inter.css');

:root {
	--black: #12161e;
	--gray: #242a3a;
	--dark-blue: #2c365e;
	--blue: #4d67b3;
	--white: #fff;
	--light-gray: #b7bac9;
	--blue-text: #e3e3e8;
	--blue-background: #eef0f2;
	--light-gray-text: #878787;

    --font-family: "Open Sans", sans-serif;
    --second-family: "Inter", sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

input {
    accent-color: var(--blue);
}

body {
    font: 400 18px/1.5 var(--font-family);
    color: var(--gray);
    height: 100%;
}

a {
    font: 600 16px/1 var(--font-family);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--blue);
    transition-duration: .3s;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.container--article {
    max-width: 900px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-600 {
    font-weight: 600;
}

.header {
    padding: 20px 0;
    flex-shrink: 0;
}

.header--grey {
    background: var(--blue-background);
}

.header--bg {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: var(--blue-background);
}

.header__inner {
    height: 100%;
}

.header--bg::before {
    content: '';
    position: absolute;
    inset: 0;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header--main::before {
    background-image: url('../images/header/header-main.jpg');
}

.header--israil::before {
    background-image: url('../images/header/header-israil.jpg');
}

.header--bg::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(36, 42, 58, 0.7);
    z-index: 1;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.layer-top {
    position: relative;
    z-index: 2;
}

.header__top {
    position: relative;
    padding: 10px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.header__top--grey {
    background: var(--blue-background);
}

.header__top--white {
    background: var(--white);
}

.logo {
    width: 100px;
    padding: 10px;
    aspect-ratio: 1;
    background: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

.header__logo {
    flex-shrink: 0;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__top--grey .header__logo {
    background: var(--blue-background);
}

.header__top--white .header__logo {
    background: var(--white);
}

.menu__list--cloumn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__list-link {
    font: 400 16px/1 var(--font-family);
    color: var(--black);
    text-decoration: none;
}

.header__nav {
    padding-left: 100px;
    margin: 0 auto;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tel {
    font: 600 18px/1.1 var(--font-family);
    color: var(--black);
    display: flex;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
}

.socials__list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.socials__list-item {
    flex-shrink: 0;
}

.socials__list-link {
    width: 36px;
    aspect-ratio: 1;
    background-color: var(--blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

.btn {
    background: var(--dark-blue);
    border-radius: 6px;
    border: none;
    font: 600 16px/1 var(--font-family);
    text-align: center;
    color: var(--white);
    padding: 22px 28px;
    transition-duration: .3s;
    text-decoration: none;
}

.btn--light {
    background: var(--blue);
}

.header__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    max-width: 850px;
}

.header__title {
    font: 700 68px/1.2 var(--font-family);
    color: var(--white);
}

.header__descr {
    font: 400 20px/1.5 var(--font-family);
    color: var(--blue-text);
    max-width: 560px;
}

.header__body-btn {
    padding-inline: 81px;
    align-self: flex-start;
}

.header__btn {
    padding: 17px 28px;
}

.burger {
    border-radius: 6px;
    background: var(--dark-blue);
    width: 46px;
    padding: 5px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(36, 42, 58, 0.7);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-duration: .2s;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 320px;
    background: var(--white);
    height: 100%;
    padding: 20px;
    z-index: 101;
    transform: translateX(100%);
    transition-duration: .3s;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu__close {
    border: none;
    background: none;
    position: absolute;
    padding: 5px;
    top: 20px;
    right: 20px;
}

.mobile-menu__logo {
    margin-bottom: 10px;
}

.mobile-menu__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-menu__bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu__nav .menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    overflow-y: auto;
}

.mobile-menu__nav .menu__list-link {
    font: 400 14px/1.5 var(--font-family);
    color: var(--gray);
}

.mobile-menu__email,
.mobile-menu__tel {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu__tel {
    font: 600 20px / 1.3 var(--font-family);
    color: var(--black);
}

.mobile-menu__email {
    font: 400 14px/1.5 var(--font-family);
    color: var(--gray);
}

.mobile-menu__btn {
    width: 100%;
}

.section {
    padding: 60px 0;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section:first-child {
    padding-top: 120px;
    padding-bottom: 20px;
}

.section--grey {
    background: var(--blue-background);
}

.section--pt-low {
    padding-top: 60px !important;
}

.section--bottom-radius {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.section--top-radius {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.title {
    font: 700 46px/1.2 var(--font-family);
    color: var(--black);
}

.section__header {
    margin-bottom: 40px;
}

.services-item {
    position: relative;
    max-width: 325px;
    aspect-ratio: 1;
    padding: 30px;
    background-image: var(--bg-services);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.services-item::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(36, 42, 58, 0.6);
}

.services-item__title {
    font: 700 22px/1.3 var(--font-family);
    color: var(--white);
}

.services-item__arrow {
    margin-top: auto;
    width: 36px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 100%;
    color: var(--dark-blue);
    transition-duration: .2s;
}

.services__swiper {
    padding-bottom: 40px;
}

.main-pagination .swiper-pagination-bullet-active {
    background: var(--blue);
}

.tabs__list-trigger {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.tabs__btn-trugger {
    font: 400 16px/1.5 var(--font-family);
    text-align: center;
    color: var(--black);
    padding: 8px 16px;
    background: var(--white);
    border-radius: 6px;
    border: none;
    white-space: nowrap;
}

.tabs__btn-trugger--grey {
    background: var(--blue-background);
}

.tabs__btn-trugger.active {
    font-weight: 600;
    color: var(--white);
    background: var(--blue);
}

.tabs__wrap {
    display: none;
}

.tabs__wrap.active {
    display: block;
}

.tabs-element {
    display: flex;
    position: relative;
    padding: 40px;
    background: var(--dark-blue);
    border-radius: 10px;
    min-height: 547px;
    color: var(--blue-text);
    flex-direction: column;
    overflow: hidden;
}

.tabs-element__title {
    font: 700 28px/1.3 var(--font-family);
    margin-bottom: 30px;
}

.tabs-element__list-text {
    font-size: 16px;
    max-width: 255px;
}

.tabs-element__list-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.tabs-element__list-icon {
    width: 46px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tabs-element__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
}

.tabs-element__btn {
    margin-top: auto;
    font: 600 16px/1 var(--font-family);
    text-align: center;
    color: var(--white);
    text-decoration: none;
    background: var(--blue);
    border-radius: 6px;
    padding: 19px 75px;
    align-self: flex-start;
    transition-duration: .2s;
    justify-content: center;
}

.tabs-element__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.about-us_inner {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.about-us__img-wrap {
    flex-shrink: 0;
}

.layout-bg {
    position: relative;
    display: inline-block;
}

.layout-bg--left {
    padding-left: 30px;
    padding-bottom: 30px;
}

.layout-bg--right {
    padding-right: 30px;
    padding-top: 30px;
}

.layout-bg::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    background: var(--blue-background);
    border-radius: 10px;
    z-index: 1;
}

.layout-bg--left.layout-bg::before {
    left: 0;
    bottom: 0;
}

.layout-bg--right.layout-bg::before {
    right: 0;
    top: 0;
}

.layout-bg__img {
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.layout-bg__img--border {
    border-radius: 10px;
}

.about-us__title {
    margin-bottom: 40px;
}

.about-us__text:not(:last-child) {
    margin-bottom: 30px;
}

.about-us__accordion {
    order: -1;
}

.accordion__summary {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.accordion__icon {
    width: 26px;
    height: 26px;
    background-image: url(../images/accordion-open.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: .3s;
}

.accordion__content-inner {
    overflow: hidden;
}

.accordion__content-body {
    padding-top: 25px;
}

.accordion__details {
    cursor: pointer;
}

.accordion__details[open] .accordion__icon {
    background-image: url(../images/accordion-close.svg);
}

.accordion__details[open] + .accordion__content {
    grid-template-rows: 1fr;
}

.our-advantages__swiper {
    padding-bottom: 40px;
}

.advantages {
    padding: 30px;
    background: var(--blue-background);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 204px;
}

.advantages__icon-wrap {
    flex-shrink: 0;
    width: 46px;
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__text {
    font: 600 20px/1.3 var(--font-family);
    color: var(--black);
}

.gallery__swiper {
    min-height: 22.6vw;

}

.gallery__item {
    border-radius: 10px;
    overflow: hidden;
    height: 19.6vw;
    transition-duration: .1s;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__swiper-slide.swiper-slide-active .gallery__item {
    height: 22.6vw;
}

.gallery__bottom-action {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery__btn-arrow {
    grid-column: 2/3;
    display: flex;
    column-gap: 10px;
}

.gallery__swiper-pagination {
    grid-column: 4/5;
}

.swiper-button-next.gallery__swiper-button-next, 
.swiper-button-prev.gallery__swiper-button-prev {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: var(--blue);
    opacity: 1;
    position: static;
    margin: 0;
    padding: 0;
}

.gallery__swiper-button-next.swiper-button-next:after, 
.gallery__swiper-button-prev.swiper-button-prev:after {
    content: '';
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery__swiper-button-next.swiper-button-next:after {
    background-image: url(../images/arrow-right.svg);
}

.gallery__swiper-button-prev.swiper-button-prev:after {
    background-image: url(../images/arrow-left.svg);
}

.accordion__summary-title {
    font: 700 22px/1.3 var(--font-family);
    color: var(--black);
}

.accordion__text {
    max-width: 1015px;
}

.accordion__text:not(:last-child) {
    margin-bottom: 20px;
}

.accordion {
    padding: 25px 0;
    border-bottom: 1px solid var(--light-gray);
}

.accordion:first-child {
    border-top: 1px solid var(--light-gray);
}

.bottom-section-link {
    margin-top: 20px;
}

.article-item__link {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-decoration: none;
}

.articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article-item__img {
    border-radius: 10px;
}

.article-item__title {
    font: 700 22px/1.3 var(--font-family);
    color: var(--black);
}

.section-bottom {
    padding: 20px 0 0;
    background: var(--dark-blue);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    overflow: hidden;
}

.section-bottom__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-bottom__info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    color: var(--white);
    padding-bottom: 20px;
}

.section-bottom__title {
    font: 700 46px/1.2 var(--font-family);
}

.section-bottom__text {
    max-width: 535px;
    font-size: 18px;
}

.section-bottom__img-wrpa {
    position: relative;
}

.section-bottom__circle {
    position: absolute;
    color: var(--blue);
}

.section-bottom__circle--1 {
    top: 0;
    left: -20px;
}

.section-bottom__circle--2 {
    bottom: 50px;
    left: -120px;
}

.section-bottom__btn {
    justify-content: center;
}

.footer {
    position: relative;
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--black);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: var(--white);
    font-size: 16px;
}

.footer::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--dark-blue);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.footer__body,
.footer__bottom {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 325px;
    gap: 70px;
}

.footer__coll--main {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer__info {
    margin-top: auto;
}

.footer__info-top {
    margin-bottom: 20px;
}

.footer__title {
    font: 600 20px/1.3 var(--font-family);
    color: var(--blue);
    margin-bottom: 20px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.footer-menu__link {
    font-size: 16px;
    color: var(--blue-text);
    text-decoration: none;
}

.footer-contacts__item {
    display: flex;
    column-gap: 10px;
    align-items: flex-start;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
}

.footer-contacts__icon {
    flex-shrink: 0;
}

.footer-contacts__tel {
    font: 600 20px/1.3 var(--font-family);
    color: var(--white);
    text-decoration: none;
}

.footer-contacts__call {
    font-size: 14px;
}

.footer-contacts__info {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.footer-contacts__text {
    color: var(--blue-text);
    font-size: 16px;
    text-decoration: none;
}

.footer__bottom {
    padding-top: 30px;
    margin-top: 60px;
    border-top: 1px solid var(--gray);
}

.footer__bottom-link {
    font-size: 14px;
    color: var(--blue-text);
    text-decoration: none;
}

.footer__bottom-link:nth-child(2) {
    grid-column: 3/4;
}

.footer__bottom-link:nth-child(3) {
    grid-column: 4/5;
}

.callback-popup {
    display: none;
    border-radius: 10px;
    padding: 40px;
    background: var(--white);
    max-width: 670px;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.callback-popup.active {
    display: block;
}

.callback-popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
}

.callback-popup__title {
    font: 700 36px/1.2 var(--font-family);
    color: var(--black);
    margin-bottom: 20px;
}

.callback-popup__subtitle {
    margin-bottom: 20px;
}

.main-form {
    display: flex;
   flex-direction: column;
   row-gap: 20px;
}

.main-form__input {
    background: var(--blue-background);
    border-radius: 6px;
    border: none;
    height: 60px;
    width: 100%;
    padding: 18px 20px;
    font: 400 16px/1.5 var(--font-family);
    color: var(--gray);
}

.main-form__btn {
    width: 100%;
}

.main-form__rules {
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
}

.main-form__checkbox {
    margin-top: 5px;
}

.main-form__rules-text {
    font: 400 14px/1.5 var(--font-family);
    color: #444551;
}

.main-form__rules-text a {
    color: #444551;
    font-weight: 400;
}

.iti {
    width: 100%;
}

.breadcrumbs {
    padding-top: 60px;
}

.breadcrumbs--grey {
    background: var(--blue-background);
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.breadcrumbs__link {
    color: var(--light-gray);
    font-size: 16px;
    text-decoration: none;
}

.breadcrumbs__list-item:not(:last-child):after {
    content: '/';
    font-size: 16px;
    color: var(--light-gray);
    margin-left: 5px;
}

.breadcrumbs__list-item:last-child .breadcrumbs__link {
    color: var(--blue);
    pointer-events: none;
}

.title-second {
    font: 700 46px/1.2 var(--font-family);
    color: var(--black);
    margin-bottom: 20px;
}

.title-second--white {
    color: var(--white);
}

.calculator__descr {
    margin-bottom: 40px;
    max-width: 670px;
}

.service-article__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-article__text:not(:last-child) {
    margin-bottom: 20px;
}

.service-article__btn-more {
    align-self: flex-start;
    border: none;
    background: none;
    font: 600 16px/1 var(--font-family);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--blue);
}

.direction {
    background: var(--blue-background);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.direction__name {
    font: 700 22px/1.3 var(--font-family);
    color: var(--black);
    margin-bottom: 10px;
}

.direction__price {
    font-size: 16px;
    color: var(--blue);
}

.our-directions__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.our-directions__btn-wrap {
    text-align: center;
}

.our-directions__btn {
    max-width: 325px;
    width: 100%;
}

.table__row {
    padding: 20px;
    display: grid;
    column-gap: 10px;
}

.table__row:not(.table__row--header) {
    border-bottom: 1px solid var(--light-gray);;
}

.table__row--col-2 {
    grid-template-columns: 1fr 305px;
}

.table__col {
    font-size: 16px;
    align-self: center;
}

.table__col--center {
    text-align: center;
}

.table__row--header {
    background: var(--blue);
    border-radius: 6px;
}

.table__row--header .table__col {
    color: var(--white);
    font-size: 18px;
}

.table__btn-wrap {
    padding-top: 40px;
    text-align: center;
}

.table__btn {
    max-width: 325px;
    width: 100%;
}

.steps__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.step-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.circle-img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: var(--blue);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-item__text {
    font-size: 16px;
}

.licenses__item-text {
    font: 700 22px/1.3 var(--font-family);
    color: var(--black);
    margin-top: 20px;
}

.licenses__swiper {
    padding-bottom: 50px;
}

.block-text__text:not(:last-child) {
    margin-bottom: 20px;
}

.btn-link {
    background: none;
    border: none;
    font: 600 16px/1 var(--font-family);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--blue);
}

.mission {
    background: var(--dark-blue);
    border-radius: 40px;
    color: var(--white);
    overflow: hidden;
}

.mission__inner {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 155px;
}

.mission__title {
    color: var(--white);
    margin-bottom: 40px;
}

.mission__img-wrap {
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 100%;
    background: var(--blue);
    aspect-ratio: 1;
}

.mission__circle--1 {
    width: 53px;
    top: 20px;
    right: -50px;
}

.mission__circle--2 {
    width: 84px;
    right: -130px;
    bottom: -20px;
}

.mission__circle--3 {
    width: 57px;
    right: -800px;
    top: 80px;
}

.any-questions__circle {
    width: 59px;
    right: 300px;
    top: 40px;
}

.articles-main__btn-wrap {
    padding-top: 40px;
    text-align: center;
}

.articles-main__btn {
    max-width: 260px;
    width: 100%;
}

.article-single__img {
    border-radius: 10px;
    margin-bottom: 40px;
}

.article-single__text {
    margin-bottom: 20px;
}

.any-questions__inner {
    background: var(--dark-blue);
    border-radius: 10px;
    padding: 40px;
    position: relative;

}

.any-questions__descr {
    color: var(--white);
    max-width: 595px;
}

.any-questions__bottom {
    display: flex;
}

.socials-big__list {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    gap: 20px;
}

.socials-big__list-item {
    flex-shrink: 0;
}

.socials-big__link {
    background: var(--blue);
    border-radius: 6px;
    width: 100%;
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    text-decoration: none;
    font-size: 14px;
    transition-duration: .3s;
}

.socials-big__icon-wrap {
    flex-shrink: 0;
    padding: 15px;
    background: var(--white);
    border-radius: 4px;
    color: var(--gray);
}

.socials-big__name span {
    font-size: 18px;
}












.section-coal {
    position: relative;
}

.section-coal::before {
    content: '';
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

.section-coal--dark-blue-top-coal::before {
    background: var(--dark-blue);
}

.section-coal--grey-top-coal::before {
    background: var(--blue-background);
}

.section-coal--white-top-coal::before {
    background: var(--white);
}

[data-js-more-hidden="no"] {
    display: none;
}

[data-js-more-hidden].active {
    display: block !important;
}

@media (hover: hover) {
    a:hover {
        color: var(--blue);
    }

    .btn:hover {
        background: var(--blue);
        color: var(--white);
    }

    .btn--light:hover {
        background: #6b86d9;
    }

    .socials__list-link--tg:hover {
        background-color: #039be5;
    }

    .socials__list-link--wa:hover {
        background-color: #40c351;
    }

    .socials__list-link--inst:hover {
        background: linear-gradient(180deg,#833ab4,#fd1d1d,#fcb045);
    }

    .socials__list-link--yt:hover {
        background-color: #FF0000;
    }

    .services-item:hover .services-item__arrow {
        background-color: var(--blue);
        color: var(--white);
    }

    .tabs-element__btn:hover {
        color: var(--white);
        background: #6b86d9;
    }

    .socials-big__link--tg:hover {
        background: #039be5;
    }

    .socials-big__link--tg:hover .socials-big__name {
        color: var(--white);
    }

    .socials-big__link--tg:hover .socials-big__icon-wrap {
        color: #039be5;
    }

    .socials-big__link--wa:hover {
        background: #40c351;
    }

    .socials-big__link--wa:hover .socials-big__name {
        color: var(--white);
    }

    .socials-big__link--wa:hover .socials-big__icon-wrap {
        color: #40c351;
    }
}



@media (min-width: 428px) {
    .bottom-section-link {
        display: none;
    }
}

@media (min-width: 768px) {
    .about-us__accordion {
        display: none;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal.gallery__swiper-pagination {
        width: fit-content;
        position: static;
        justify-self: flex-end
    }

    .section-bottom__img-wrpa {
        align-self: flex-end;
    }

    .section-bottom__info {
        max-width: 59%;
    }

    .section-bottom__btn {
        align-self: flex-start;
    }

    .footer__descr {
        margin-top: 20px;
    }

    .any-questions__img-wrap {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: 1300px) {
    .burger,
    .service-article__btn-more {
        display: none;
    }

    .any-questions__img {
        height: 247px;
    }
}

@media (max-width: 1299px) {
    .header__nav {
        display: none;
    }

    .tabs-element {
        padding: 30px;
    }

    .tabs-element__img {
        right: -150px;
    }

    .tabs-element__title {
        font-size: 24px;
    }

    .tabs__list-trigger {
        flex-wrap: nowrap;
        overflow: auto;
        margin-bottom: 30px;
    }

    .about-us__img {
        max-width: 458px;
    }

    .about-us__text,
    .mission__text,
    .article-single__text {
        font-size: 16px;
    }

    .footer__body,
    .footer__bottom {
        grid-template-columns: 200px 1fr 1fr 230px;
        gap: 30px;
    }

    .footer,
    .footer a {
        font-size: 14px;
    }

    .footer__title {
        font-size: 18px;
    }

    [data-js-more-hidden="1299"] {
        display: none;
    }

    .our-directions__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .direction__name,
    .licenses__item-text {
        font-size: 20px;
    }

    .our-directions__list {
        margin-bottom: 30px;
    }

    .table__row--col-2 {
        grid-template-columns: 1fr 210px;
    }

    .steps__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .mission__inner {
        column-gap: 30px;
    }

    .mission__circle--1 {
        right: 0;
        width: 30px;
    }

    .mission__circle--2 {
        width: 50px;
        right: -90px;
    }

    .mission__circle--3 {
        width: 40px;
        right: -550px;
        top: 50px;
    }

    .mission__title,
    .article-single__img {
        margin-bottom: 30px;
    }

    .articles-main__btn-wrap {
        padding-top: 30px;
    }

    .any-questions__bottom {
        flex-direction: column;
        row-gap: 30px;
    }

    .any-questions__inner {
        padding: 30px;
    }
}

@media (max-width: 1024px) {
    .section {
        padding: 50px 0;
    }

    .logo {
        width: 90px;
    }

    .header__title {
        font-size: 52px;
    }

    .header__descr {
        font-size: 18px;
    }

    .header__body {
        row-gap: 30px;
    }

    .header--bg {
        height: 1024px;
    }

    .services-item__title {
        font-size: 20px;
    }

    .section:first-child {
        padding-top: 100px;
    }

    .title {
        font-size: 40px;
    }

    .section__header {
        margin-bottom: 30px;
    }

    .tabs-element__img {
        position: relative;
        right: -30px;
        bottom: -30px;
    }

    .tabs-element__list {
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
    }

    .tabs-element__btn {
        width: 100%;
    }

    .about-us_inner {
        flex-direction: column;
        row-gap: 30px;
    }

    .about-us__descr {
        order: -1;
    }

    .about-us__btn {
        width: 100%;
        justify-content: center;
    }

    .about-us__img {
        max-width: 100%;
        width: 100%;
    }

    .about-us__title {
        margin-bottom: 0;
    }

    .gallery__item {
        height: 35vw;
    }

    .gallery__swiper-slide.swiper-slide-active .gallery__item {
        height: 40.7vw;
    }

    .gallery__bottom-action {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .gallery__swiper-pagination {
        grid-column: 3/4;
    }

    .accordion__summary-title,
    .article-item__title {
        font-size: 20px;
    }

    .articles-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .hidden-tablet {
        display: none;
    }

    .section-bottom__title {
        font-size: 40px;
    }

    .section-bottom__text {
        font-size: 16px;
    }

    .section-bottom__circle--1 {
        width: 30px;
    }

    .section-bottom__circle--2 {
        width: 50px;
    }

    .section-bottom__info {
        row-gap: 30px;
    }

    .footer__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .footer__coll--contact {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .footer__bottom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px 40px;
    }

    .footer__bottom-link:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1/2;
    }

    .footer__bottom-link:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2/3;
    }

    .title-second {
        font-size: 40px;
    }
    
    .calculator__descr {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .service-article__info {
        grid-template-columns: 1fr;
    }

    .service-article__col--center {
        text-align: center;
    }

    .service-article__text {
        font-size: 16px;
    }

    [data-js-more-hidden="1024"] {
        display: none;
    }

    .our-directions__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .our-directions__btn,
    .table__btn,
    .articles-main__btn {
        max-width: 100%;
    }

    .block-text__text {
        font-size: 16px;
    }

    .mission__inner {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .mission__img-wrap {
        order: 2;
    }

    .mission__img-main {
        margin: 0 auto;
    }

    .mission__circle--1 {
        right: auto;
        left: 30px;
    }

    .mission__circle--2 {
        right: 10px;
        bottom: 30px;
    }

    .mission__circle--3 {
        display: none;
    }

    .mission__title {
        margin-bottom: 20px;
    }

    .any-questions__descr {
        font-size: 16px;
        max-width: 395px;
    }

    .any-questions__img {
        max-width: 240px;
    }

    .any-questions__circle {
        right: 190px;
        top: -40px;
    }
}

@media (max-width: 767px) {
    .section {
        padding: 30px 0;
    }

    .logo {
        width: 80px;
    }

    .header__contacts {
        display: none;
    }

    .header__title {
        font-size: 34px;
    }

    .header__descr {
        font-size: 16px;
    }

    .header__body-btn {
        width: 100%;
    }

    .header__body {
        row-gap: 20px;
    }

    .header--bg {
        height: 926px;
    }

    .section:first-child {
        padding-top: 60px;
    }

    .title {
        font-size: 30px;
    }

    .section__header {
        margin-bottom: 20px;
    }

    .tabs-element__title {
        font-size: 22px;
    }

    .tabs-element__list {
        grid-template-columns: 1fr;
    }

    .tabs__list-trigger {
        margin-bottom: 20px;
    }

    .about-us__descr--mob-hidden,
    .gallery__btn-arrow,
    .hidden-mobile {
        display: none;
    }

    .gallery__item,
    .gallery__swiper-slide.swiper-slide-active .gallery__item {
        height: 61.8vw;
    }

    .gallery__swiper-pagination {
        grid-column: auto;
    }

    .gallery__swiper {
        padding-bottom: 40px;
    }

    .articles-list {
        grid-template-columns: 1fr;
    }

    .section-bottom__inner {
        flex-direction: column;
    }

    .section-bottom__title {
        font-size: 30px;
    }

    .section-bottom__circle--2 {
        left: auto;
        right: -40px;
        bottom: 0;
    }

    .footer__body {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
    }

    .footer__coll--contact {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .footer__coll--main {
        grid-column: 1/3;
    }

    .footer__bottom {
        margin-top: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__bottom-link:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2/3;
    }

    .footer__bottom-link:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3/4;
    }

    .footer__logo-wrap {
        display: flex;
        align-items: center;
        column-gap: 26px;
    }

    .callback-popup {
        top: 0;
        bottom: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        padding: 60px 20px;
    }

    .callback-popup__title {
        font-size: 30px;
    }

    .callback-popup__subtitle {
        font-size: 16px;
    }

    .breadcrumbs {
        padding-top: 40px;
    }

    .breadcrumbs__link {
        font-size: 14px;
    }

    .title-second {
        font-size: 30px;
    }

    .calculator__descr {
        margin-bottom: 20px;
    }

    .our-directions__list {
        grid-template-columns: 1fr;
    }

    .direction {
        flex-direction: row;
        column-gap: 20px;
        align-items: flex-start;
    }

    .our-directions__list,
    .article-single__img {
        margin-bottom: 20px;
    }

    .table__col {
        font-size: 14px;
    }
    
    .table__row--header .table__col {
        color: var(--white);
        font-size: 16px;
    }

    .table__row--col-2 {
        grid-template-columns: 1fr 120px;
    }

    .steps__list {
        grid-template-columns: 1fr;
    }

    .mission__circle--2 {
        top: 20px;
        bottom: auto;
        width: 40px;
    }

    .articles-main__btn-wrap {
        padding-top: 20px;
    }

    .any-questions__img-wrap {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }

    .any-questions__img {
        margin-bottom: -30px;
        margin-right: -30px;
    }

    .any-questions__circle {
        width: 40px;
        top: 20px;
        right: 70%;
    }

    .socials-big__link {
        font-size: 13px;
        column-gap: 10px;
    }

    .socials-big__name span {
        font-size: 16px;
    }

    .socials-big__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 427px) {
    .section {
        padding: 20px 0;
    }

    .header--bg {
        height: 568px;
    }

    .header__title {
        font-size: 23px;
    }

    .header__descr,
    .btn,
    .tabs-element__list-text,
    .tabs-element__btn,
    .tabs__btn-trugger,
    .about-us__text,
    .accordion__text,
    .bottom-section-link,
    .section-bottom__text,
    .footer, .footer a,
    .callback-popup__subtitle,
    .main-form__rules-text,
    .main-form__rules-text a,
    .main-form__input,
    .breadcrumbs__link,
    .calculator__descr,
    .service-article__text,
    .direction__price,
    .table__row--header .table__col,
    .table__col,
    .step-item__text,
    .block-text__text,
    .mission__text,
    .article-single__text {
        font-size: 13px;
    }

    .mobile-menu {
        max-width: 100%;
        width: 100%;
    }

    .mobile-menu__tel,
    .services-item__title,
    .tabs-element__title,
    .advantages__text,
    .accordion__summary-title,
    .article-item__title,
    .footer .footer-contacts__tel,
    .direction__name,
    .licenses__item-text {
        font-size: 16px;
    }

    .services-item {
        padding: 20px;
        max-width: 100%;
    }

    .section:first-child {
        padding-top: 40px;
    }

    .title {
        font-size: 22px;
    }

    .tabs-element {
        padding: 20px;
    }

    .advantages {
        padding: 20px;
        flex-direction: row;
        column-gap: 10px;
        min-height: 103px;
    }

    .advantages__icon-wrap {
        align-self: flex-start;
        width: 36px;
    }

    .gallery__item,
    .gallery__swiper-slide.swiper-slide-active .gallery__item {
        height: 118.8vw;
    }

    .section__header-link {
        display: none;
    }

    .accordion {
        padding: 15px 0;
    }

    .section-bottom__info {
        row-gap: 20px;
    }

    .section-bottom__circle--1 {
        left: 0;
    }

    .section-bottom__circle--2 {
        right: 0;
        bottom: auto;
        top: 0;
        width: 40px;
        height: 40px;
    }

    .section-bottom__title,
    .callback-popup__title,
    .title-second {
        font-size: 22px;
    }

    .main-form__input {
        height: 50px;
    }

    .btn {
        padding-block: 19px;
    }

    .main-form {
        row-gap: 10px;
    }

    .breadcrumbs {
        padding-top: 30px;
    }

    .breadcrumbs__list {
        gap: 5px;
    }

    .breadcrumbs__list-item:not(:last-child):after {
        margin-left: 2px;
    }

    .direction {
        padding: 20px;
        column-gap: 10px;
    }

    .direction__name {
        margin-bottom: 5px;
    }

    .direction__img-flag {
        width: 40px;
        height: 30px;
    }

    .table__row--col-2 {
        grid-template-columns: 1fr 110px;
    }

    .table__row {
        padding: 10px;
    }

    .steps__list {
        gap: 15px;
    }

    .section--pt-low {
        padding-top: 40px !important;
    }

    .mission__circle--1 {
        width: 20px;
        left: 0;
    }

    .mission__circle--2 {
        width: 30px;
    }

    .socials-big__list {
        grid-template-columns: 1fr;
    }

    .any-questions__circle {
        width: 30px;
        right: auto;
        left: 10px;
    }
}